.content-info {
    display: flex;
    flex-direction: column;
}

p {
    text-align: justify;
}
.content-info p {
    font-size: 1rem;
}
.content-info h1 {
    font-size: 3rem;
    
    font-weight: bolder;
}

ul {
    text-align: justify;
}

.contenedorDiagnostico{
    text-align: right;
    border-radius: 2%;
}

.btnDetalles{
    background-color: #0062ff;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}